:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    255,255,255;
--color-neutral-200:    226,226,227;
--color-neutral-300:    187,188,189;
--color-neutral-400:    148,149,151;
--color-neutral-500:    110,111,113;
--color-neutral-600:    90,91,92;
--color-neutral-700:    70,70,72;
--color-neutral-800:    50,50,51;
--color-neutral-900:    29,30,30;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    196,237,210;
--color-primary-400:    138,218,165;
--color-primary-500:    80,200,120;
--color-primary-600:    57,182,99;
--color-primary-700:    47,151,82;
--color-primary-800:    38,120,65;
--color-primary-900:    28,89,48;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    237,196,223;
--color-secondary-400:    218,138,192;
--color-secondary-500:    200,80,160;
--color-secondary-600:    182,57,140;
--color-secondary-700:    151,47,116;
--color-secondary-800:    120,38,93;
--color-secondary-900:    89,28,69;
}